# Скомпилированные в байт-код файлы исходного кода
__pycache__/

# Папка с пользовательскими скриншотами
screenshots/

# Файл конфигурации 
# (он создаётся приложением автоматически)
langtons_ant.ini

# Всевозможные аудиофайлы
*.flac
*.it
*.mid
*.mod
*.mp3
*.ogg
*.s3m
*.wav
*.xm
